/*  ATTRIBUT DU TITRE   */
.titre
{
    font-size: xx-large;
    font-weight: bold;
    color: blue;
}
/*  ATTRIBUT DU TEXTE COLONNE SOMMAIRE   */
.sommaire
{
    color: blue;
}

/*  ATTRIBUTS DE LA TABLE LIENS    */
table#liens
{
    background-color: yellow;
    border: 2px solid black;
    padding: 0px;
    width: 100%;
}
/*  ATTRIBUTS DE LA TABLE INFO    */
table#info
{
    background-color: white;
    font-style: italic;
    font-size: large;
    border: 2px solid black;
    padding: 0px;
    width: 100%;
}

/*  ATTRIBUTS DE LA TABLE INFOM33    */
table#infom33
{
    background-color: white;
    border: solid
    padding: 0px;
    width: 100%;
}
/*  ATTRIBUTS DE LA TABLE INFOM33-TECH    */
table#infom33-tech
{
    background-color: white;
    border: solid
    padding: 0px;
    width: 100%;
}
a
{
    color: red;
}

    




