p
{
color: green;
}
.sommaire
{
    color: blue;
}
a
{
    color: red;
}

h1 {
    position: absolute;
    top: 40%;
    width: 100%;
    font-family: Helvetica;
    font-size: large;
    text-align: center;
    color: blue;
    
}