
@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
		
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}
	
	/* Un message personnalisé */

	body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	}
}
   /*  réduire de façon harmonieuse toutes les tailles de polices en orientation paysage       */
@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}
/*  FIN SITE MOBILE */
/*  COULEUR ARRIERE PLAN */
body
{
	background-color: rgb(240,255,255);
	
}


/*  SELECTION UNIVERSELLE */
*
{
    font-family: Arial, "Arial Black","Comic Sans MS", "Courier New", Georgia, "Times New Roman";
}
/*  ATTRIBUT DU TITRE   */
.titre
{
    font-size: xx-large;
    font-weight: bold;
    color: blue;
}




/*  ATTRIBUTS DE LA TABLE LIENS    */
table#liens
{
    background-color: yellow;
    border: 2px solid black;
    padding: 0px;
    width: 100%;
    border-collapse: collapse;
		text-align: center;
		font-size: x-large;
    
}
/*  ATTRIBUTS DE LA TABLE INFO    */
table#info
{
    background-color: white;
    font-style: italic;
    font-size: large;
    border: 2px solid black;
    padding: 0px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
/*  ATTRIBUTS DE LA TABLE INFO-FOOTER    */
table#info-footer
{
    background-color: white;
    font-style: italic;
    font-size: medium;
    border: 2px solid black;
    padding: 0px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
/*  MOTS EN GRAS DANS LE TEXTE    */
mark
{
    font-weight: bold;
}

/*  ATTRIBUTS DE LA TABLE INFOM33    */
table#infom33effacer
{
    background-color: white;
    border: solid
    padding: 0px;
    width: 100%;
}
/*  ATTRIBUTS DE LA TABLE INFOM33-TECH    */
table#liste-articles
{
    background-color: rgb(255,255,226);
    border: 1px solid black;
    padding: 0px;
    width: 95%;
		border-collapse: collapse;
				
}
/*  ATTRIBUTS DE LA TABLE ARTICLES TECHNIQUES    */
table#liste-articles-tech
{
    background-color: rgb(255,255,226);
    border: 1px solid black;
    padding: 0px;
    width: 70%;
		border-collapse: collapse;
		border-radius:20px;
				
}
/*  ATTRIBUTS DE LA TABLE PHOTOS   */
table#photos
{
    background-color: white;
    border: 1px solid black;
    padding: 0px;
    width: 100%;
    border-collapse: collapse;
}
/*  ATTRIBUTS DE LA TABLE TITRE PHOTOS    */
table#photostitre
{
    background-color: white;
    border: 1px solid black;
    padding: 0px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    color: blue;
}
/*  LIGNES DE SEPARATION A L'INTERIEUR DES TABLEAUX   */     
.separation
{
    font-weight: bold;
    color: blue;
    background-color: #C7ECEE;
}
  
  
/*  LIGNES DANS LES TABLES    */     

tr,td
{
    border: 1px solid black;
}

/*  LIGNE DE TITRE DES ARTICLES    */     
th
{
    border: 1px solid black;
    background-color: aqua;
    ;
}

/*  LARGEUR COLONNE PAGE AG   */    
.numero-ag
{
    width:20%;
}

/*  COULEUR DES LIENS A CLIQUER   */    
a
{
    color: red;
}
/*  SURVOL DES LIENS   */
a:hover
{
    font-style: oblique;
    font-weight: bold;
}
/*  LIEN DEJA CONSULTE   */
a:visited
{
    color:#E84393;
}